<section class="font-jakarta">
  <div class="p-7 h-fit">
    <form class="flex flex-col gap-10">
      <div class="flex flex-col">
        <h1 class="font-bold text-[2rem]">Mortgage Calculator</h1>
        <a href="" ><p class="underline text-gray-400 text-xl">Clear All</p></a>
      </div>

      <!-- <div class="border flex flex-col gap-5"> -->
        <div class="flex flex-col gap-1">
          <label for="mortgage-amount" class="text-gray-500 text-2xl">Mortage Amount</label>
          <div class="flex border rounded-md hover:outline-[1.5px] active:outline-[1.5px] cursor-pointer">
            <div class="bg-[#e3f4fc] text-[#405a68] py-4 px-8 rounded-l-md text-2xl font-bold">£</div>
            <input 
              class="w-full outline-0 px-4 text-2xl font-bold" 
              type="text"
              pattern="[0-9]*" 
              (keypress)="manageInput($event)"
              (input)="formatInput($event)"
              name="mortgage-amount"
              #mortageAmountInput>
          </div>
        </div>

        <div class="flex flex-col gap-8">
          <div class="grid gap-1">
            <label for="mortgage-term" class="text-gray-500 text-2xl">Mortage Term</label>
            <div class="flex border rounded-md hover:outline-[1.5px] active:outline-[1.5px] cursor-pointer">
              <input 
                class="w-full outline-0 px-4 text-2xl font-bold" 
                type="text"
                pattern="[0-9]*" 
                (keypress)="manageInput($event)"
                (input)="formatInput($event)"
                #mortageTermInput>
              <div class="bg-[#e3f4fc] py-4 text-[#405a68] px-8 rounded-r-md text-2xl font-bold">years</div>
            </div>
          </div>
          <div class="grid gap-1">
            <label for="interest-rate" class="text-gray-500 text-2xl">Interest Rate</label>
            <div class="flex border rounded-md hover:outline-[1.5px] active:outline-[1.5px] cursor-pointer">
              <input 
                class="w-full outline-0 px-4 text-2xl font-bold" 
                type="number" 
                name="mortgage-amount" 
                #interestRateInput>
              <div class="bg-[#e3f4fc] py-4 text-[#405a68] px-8 rounded-r-md text-2xl font-bold">%</div>
            </div>
          </div>
        </div>

      <div class="grid">  
        <label class="text-gray-500 text-2xl">Mortgage Type:</label>
        <label class="my-2 flex border rounded-md cursor-pointer p-5 gap-3 hover:outline-[1.5px] active:outline-[1.5px]">
          <input type="radio" name="mortgageType" class="h-full w-6" />
          <span class="text-[1.5rem] font-bold">Repayment</span>
        </label>


        <label class="my-2 flex border rounded-md cursor-pointer p-5 gap-3 hover:outline-[1.5px] active:outline-[1.5px]">
          <input class="h-full w-6" type="radio" name="mortgageType">
          <label class="text-[1.5rem] font-bold" for="variable">Interest Only</label>
        </label>
      </div>

      <button type="submit" 
        class="bg-[#d7da2f] text-2xl flex p-5 rounded-full items-center justify-center gap-3 font-bold hover:bg-[#f1f381]">
          <img src="assets/images/icon-calculator.svg" alt="calculator">
          Calculate Repayments
      </button>
    </form>
    <div>
      
    </div>
  </div>
</section> 