@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-spartan: "League Spartan", sans-serif;
}

@custom-variant purple (&:where(.purple, .purple *));
@custom-variant light (&:where(.light, .light *));
@custom-variant contrast (&:where(.contrast, .contrast *));

@theme {
    /* purple */
    --color-purple-main: hsl(222, 26%, 31%);
    --color-purple-toggle: hsl(223, 31%, 20%);
    --color-purple-screen: hsl(224, 36%, 15%);
  
    --color-purple-key: hsl(225, 21%, 49%);
    --color-purple-key2: hsl(224, 28%, 35%);
  
    --color-red-key: hsl(6, 63%, 50%);
    --color-red-key2: hsl(6, 70%, 34%);
  
    --color-gray-key: hsl(30, 25%, 89%);
    --color-gray-key2: hsl(28, 16%, 65%);
  
    /* --text-blue: hsl(221, 14%, 31%);
    --text-white-input: hsl(0, 0%, 100%); */

    /* theme 2 */
    --color-light-main: hsl(0, 0%, 90%);
    --color-light-toggle: hsl(0, 5%, 81%);
    --color-light-screen: hsl(0, 0%, 93%);

    --color-green-key:hsl(185, 42%, 37%);
    --color-green-key2:hsl(185, 58%, 25%);

    --color-orange-key:hsl(25, 98%, 40%);
    --color-orange-key2:hsl(25, 99%, 27%);

    --color-light-key:hsl(45, 7%, 89%);
    --color-light-key2:hsl(35, 11%, 61%);
    
    /* contrast */
    
    --color-contrast-main2: hsl(268, 75%, 9%);
    --color-contrast-secondary: hsl(268, 71%, 12%);

    --color-violet-key: hsl(281, 89%, 26%);
    --color-violet-key2: hsl(285, 91%, 52%);

    --color-cyan-key: hsl(176, 100%, 44%);
    --color-cyan-key2: hsl(177, 92%, 70%);

    --color-contrast-key: hsl(268, 47%, 21%);
    --color-contrast-key2: hsl(290, 70%, 36%);
}
