/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@font-face {
  font-family: "Jakarta";
  src: url('/public/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal
}

@theme {
  --font-jakarta: "Jakarta", sans-serif;
}